apiVersion: v1
kind: Secret
metadata:
  name: api-gateway-secrets
  labels:
    app: cosmic-void
    component: api-gateway
type: Opaque
stringData:
  RABBITMQ_PASS: "REPLACE_ME"
  JWT_SECRET: "REPLACE_ME"
