version: "3.9"
services:
  cosmic-void-consul:
    image: hashicorp/consul
    container_name: cosmic-void-consul
    command: agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0
    ports:
      - 8510:8500 # Changed from 8500 to avoid conflicts
      - 8610:8600/udp # Changed from 8600 to avoid conflicts
    volumes:
      - cosmic-void-consul-data:/consul/data
    networks:
      - cosmic-void-network

  cosmic-void-rabbitmq:
    image: "rabbitmq:3-management"
    container_name: cosmic-void-rabbitmq
    ports:
      - "15682:15672" # Changed from 15672 to avoid conflicts
      - "5682:5672" # Changed from 5672 to avoid conflicts
    environment:
      - RABBITMQ_DEFAULT_USER=cosmicvoid
      - RABBITMQ_DEFAULT_PASS=cosmicvoid
    volumes:
      - cosmic-void-rabbitmq-data:/var/lib/rabbitmq
    networks:
      - cosmic-void-network

networks:
  cosmic-void-network:
    name: cosmic-void-network

volumes:
  cosmic-void-consul-data:
  cosmic-void-rabbitmq-data:
