apiVersion: v1
kind: Secret
metadata:
  name: auth-service-secrets
  namespace: default
  labels:
    app: cosmic-void
    component: auth-service
type: Opaque
stringData:
  DB_PASSWORD: "REPLACE_ME"
  RABBITMQ_PASS: "REPLACE_ME"
  JWT_SECRET: "REPLACE_ME"
