apiVersion: v1
kind: Secret
metadata:
  name: items-service-secrets
  labels:
    app: cosmic-void
    component: items-service
type: Opaque
stringData:
  DB_PASSWORD: "REPLACE_ME"
  RABBITMQ_PASS: "REPLACE_ME"
  REDIS_PASSWORD: ""
