apiVersion: v1
kind: Secret
metadata:
  name: notification-service-secrets
  labels:
    app: cosmic-void
    component: notification-service
type: Opaque
stringData:
  DB_PASSWORD: "REPLACE_ME"
  RABBITMQ_PASS: "REPLACE_ME"
