apiVersion: v1
kind: Secret
metadata:
  name: payment-service-secrets
  labels:
    app: cosmic-void
    component: payment-service
type: Opaque
stringData:
  DB_PASSWORD: "REPLACE_ME"
  RABBITMQ_PASS: "REPLACE_ME"
  REDIS_PASSWORD: ""
  STRIPE_SECRET_KEY: "REPLACE_ME"
  STRIPE_WEBHOOK_SECRET: "REPLACE_ME"
